*{
	margin:0;
	padding:0;
    box-sizing: border-box;
 }
 
 li {
	 list-style:none; 
 }
 html {
	 scroll-behavior : smooth; 
 }
a {
	 display:block;
 }
 p a  {
	 display:inline;
 }
 img, svg{
	 display:block;
	 width:100%;
	 height:initial;
 }
h1 , h2 , h3 , h4 , h5 , h6 , p , strong , em , mark , a {
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	color: inherit;
	text-decoration: none;
	background-color: inherit;
}

 :root {
	 font-size:100%;
 }
 
.Header-li {
    list-style: none;
}
.Footer-li {
    list-style: none;
}
.Header-a {
    text-decoration: none;
    display: block;
}
.Show-a {
    text-decoration: none;
}
.Footer-a {
    text-decoration: none;
}
.Header{
    margin: 2rem auto;
    width: 100%;
	max-width: 95vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.Header-h1 {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}
.Header-logo {
   width: 100px;
   width: 60px ;
  
}
.Header-img{
    width: 100%;
    height: 100%;
  object-fit: contain;

}

.Header-nav{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
}
.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
@media (max-width :900px){
    .Header-ul { display: none;}
}
.Header-li {
    list-style: none;
}
.Header-a--subraya{
    text-decoration: underline;
}
.Header-a {
}

.Main{
   
}
.Description {
    margin: 4rem 2rem ;
}
@media(max-width:700px)
{
    .Description{
        margin:0;
        }
}
.Description-p {
    width: 100%;
    max-width: 600px;
    text-justify: auto;
    /* background-color: blueviolet; */
}

.Contents {
    margin: auto 2rem;
    width: 100%;
    max-width: 95vw;
    /* background-color: gray; */
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
   
}
@media(max-width:700px)
{
    .Contents{
        margin:0;
        gap: 5px;}
}
.Contents-content{
    /* background-color: red; */
}
.Contents-img {
    width: 100%;
    height: 100%; 
} 
.Show {
    margin: 3rem auto;
    width: 100%;
    max-width: 300px;
    /* background-color: blueviolet; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: start; 
}
@media(max-width:700px)
{
    .Show{
        margin:1rem auto;
        }
}
.Show-a{
    
}
.Show-img{
    width: 30px;
    height: 18px;
}
@media (max-width:700px)
{ 
    .Show-img {display: none;}
}
.Footer {
    margin: auto;
    max-width: 96%;
	border-top: 1px solid gray;
	padding:20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;  
}

.Footer-derechos {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}
@media (max-width:700px)
{
    .Footer-derechos {
        display: none;
    }
}

.Footer-redes {
    width: 100%;
}

.Footer-ul {
    display:flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
@media (max-width:700px)
{.Footer-ul
{ flex-direction: column;
   align-content: center;
gap:2px;}
}

.Footer-li {

}

.Footer-a {

color:black
}